
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("AutoProperty", "AutoProperty") <br>
        @Html.ActionLink("CreateProduct", "CreateProduct") <br>
        @Html.ActionLink("CreateCollection", "CreateCollection") <br>
        @Html.ActionLink("UseExtension", "UseExtension") <br>
        @Html.ActionLink("UseExtensionEnumerable", "UseExtensionEnumerable") <br>
        @Html.ActionLink("UseFilterExtension", "UseFilterExtension") <br>
        @Html.ActionLink("UseDelegateFilter", "UseDelegateFilter") <br>
        @Html.ActionLink("UseLambdaFilter", "UseLambdaFilter") <br>
        @Html.ActionLink("UseLambdaFilter2", "UseLambdaFilter2") <br>
        @Html.ActionLink("CreaneAnonArray", "CreaneAnonArray") <br>
        @Html.ActionLink("FindProduct", "FindProduct") <br>
        @Html.ActionLink("FindProduct2", "FindProduct2") <br>
        @Html.ActionLink("FindProduct3", "FindProduct3") <br>
        @Html.ActionLink("FindProduct4", "FindProduct4") <br>

    </div>
</body>
</html>
